@page "/factura/Compra"
@using SharedProject.DTOs
@using SharedProject.Models
@inject IJSRuntime JSRuntime

@if (Compra != null && Proveedor != null)
{
    <div>
        <div style="width: 48mm; margin: 0 auto; font-size: 10px; text-align: center;" id="tikect">
            <div style="margin-bottom: 5px;">
                <label style="font-weight: bold;">Fecha: </label> @Compra.Fecha.ToShortDateString()<br>

                <label style="font-weight: bold;">Número de comprobante: </label> @Compra.NumeroComprobante<br>
                <label style="font-weight: bold;">Proveedor: </label> @Proveedor.DatosGenerales.Nombre<br>
                <label>Direccion: </label> @Proveedor.DatosGenerales.Direccion<br>
            </div>
            <div style="margin-top: 10px; max-width: 50mm;">
                <div style="display: flex; justify-content: space-between; margin-bottom: 5px;">
                    <div style="width: 35%; text-align: left; font-size:x-small font-weight: bold;">Item</div>
                    <div style="width: 20%; text-align: center; font-size:x-small font-weight: bold;">Cant</div>
                    <div style="width: 25%; text-align: center;font-size:x-small font-weight: bold;">Unit</div>
                    <div style="width: 20%; text-align: center;font-size:x-small font-weight: bold;">Tot</div>
                </div>
                @foreach (var detalle in Compra.DetalleCompra)
                {
                    <div style="display: flex;  margin-bottom: 5px; max-width: 50mm; ">
                        <div style="width: 100%; text-align: left; font-size:x-small max-width: 50mm; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">@detalle.Producto</div>
                       <br />
                        <div style="width: 70%; text-align: left; font-size:x-small">@detalle.Cantidad.ToString("N0") X @detalle.PrecioCompraUnitario.ToString("N0")</div>
                        <div style="width: 30%; text-align: left; font-size:x-small">@detalle.TotalCompra.ToString("N0")</div>
                    </div>
                }
                <div style="display: flex; justify-content: space-between; margin-bottom: 5px; max-width: 48mm; border-top-width:1px;  border: dashed; border-color:black;"></div>
            </div>
            <div style="max-width: 48mm; text-align: center; margin-top: 20px;">
                <label style="font-weight: bold;">Total Compra: </label> @Compra.TotalCompra<br>
            </div>
            <div style="display: flex; justify-content: space-between; margin-bottom: 5px; max-width: 48mm; border-top-width:1px;  border: dashed; border-color:black;"></div>

        </div>
        <button class="btn btn-primary" @onclick="ImprimirComprobante">Imprimir</button>
    </div>
}

@code {
    [Parameter]
    public CompraViewDTO Compra { get; set; }
    [Parameter]
    public Proveedor Proveedor { get; set; }

    private async Task ImprimirComprobante()
    {
        await JSRuntime.InvokeAsync<object>("eval", @"
            var elementoComprobante = document.getElementById('tikect');
            var contenido = elementoComprobante.innerHTML;
            var ventanaImpresion = window.open('', '', 'width=800,height=600');
            ventanaImpresion.document.open();
            ventanaImpresion.document.write('<html><head><title>Comprobante</title></head><body>');
            ventanaImpresion.document.write('<style>@media print { @page { margin: 0; } }</style>');
            ventanaImpresion.document.write(contenido);
            ventanaImpresion.document.write('</body></html>');
            ventanaImpresion.document.close();
            ventanaImpresion.print();
            ventanaImpresion.close();
        ");
    }
}
